.main-container {
  display: flex;
  flex-direction: row;
}
.sidebar-container {
  display: flex;
  // flex-direction: row;
  width: 20%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
