.header-container {
  display: flex;
  background: #22599c;
  height: 47px;
  align-items: center;
}
.header-text {
  margin-left: 10px;
  font-size: 24px;
  font: normal normal normal 24px/18px Ubuntu Mono;
  letter-spacing: 0.27px;
  color: #ffffff;
}
