.sidebar-containers {
  display: flex;
  flex-direction: column;
  background: #22599c;
  min-height: 800px;
  width: 100%;
  // align-items: center;
  margin-top: 2px;
  padding: 30px 0 0 0;
}
.side-header-text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: Roboto;
  cursor: pointer;
  letter-spacing: 0.27px;
  color: #ffffff;
  padding: 10px;
}
.side-header-text-open {
  border-bottom: 1px solid white;
  cursor: pointer;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: Roboto;
  letter-spacing: 0.27px;
  color: #ffffff;
  padding: 10px;
}
.dropdown-text {
  margin-left: 20px;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 0 10px 0;
  cursor: pointer;
}
